.course-contact-container {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding-top: 30px;
  margin: 30px 10px;
}

.class-card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 10px;
  margin: 10px;
}

.inner-class-card {
  display: flex;
  flex-direction: column;
}

.class-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.class-form {
  padding: 10px;
  margin: 10px;
}

.course-flyer-container {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-flyer {
  width: 100%;
}

.courses-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.course-info h4 {
  text-align: left;
}

.course-description {
  width: 100%;
}

.full-banner {
  background-color: black;
  color: white;
  margin-top: 50px;
  text-align: center;
}

.full {
  color: red;
  font-size: 20px;
  padding: 0 10px;
}

.subscribe-link {
  text-align: center;
}

@media (min-width: 768px) {
  .course-flyer {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .course-list {
    margin: 50px;
  }

  .full {
    padding: 0 50px;
  }

  .class-form {
    padding: 0 50px 50px 50px;
    margin: 0 50px 50px 50px;
  }

  .class-card {
    padding: 50px;
    margin: 50px;
  }

  .inner-class-card {
    flex-direction: row;
  }

  .inner-class-card > * {
    width: 50%;
  }
  .course-flyer {
    width: 100%;
  }
  .course-contact-container {
    margin: 30px 50px;
  }
}
