.instruction-video {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.video-title {
  display: flex;
  align-items: flex-start;
}

.instruction-video h2 {
  margin: 20px;
  width: 100%;
}

video {
  width: 95%;
  margin: 20px;
}

@media only screen and (min-width: 768px) {
  .instruction-video {
    flex-direction: row;
    justify-content: space-between;
  }

  .video-title {
    width: 50%;
  }

  .instruction-video h2 {
    margin: 0;
    text-align: left;
  }

  video {
    width: 30%;
    margin: 50px auto;
  }
}
